.welcome {
  position: relative;
  left: 35%;
  font-family: 'Impact';
}

.login {
  text-align: center;
  font-family: 'Impact';
}

.gameboard {
  height: 50px;
  width: 200px;
  border: 1px solid red;
}

