<table class="game_board">
<% @active_gameboard.each_with_index do |row, index|%>
<tr class="row_<%= index %>">
 <% row.each_with_index do |val, index| %>
 <td class="col_<%= index %>"><%= val %></td>
 <% end %>
</tr>
<% end %>
</table>
<button class="fire-missile" rel="fire-missile">Fire Missile!</button>
<!-- <div class="fire-missile">
    <div rel="row" contenteditable="true" data-placeholder='Row' style="color:black">Pick a row to shoot!</div>
    <div rel="col" contenteditable="true" data-placeholder='Col' style="color:gray">Pick a Column to shoot!</div>
</div> -->