<table class="game_board">
  <tr class="col_0">
    <td class="row_0"></td>
    <td class="row_1"></td>
    <td class="row_2"></td>
    <td class="row_3"></td>
    <td class="row_4"></td>
    <td class="row_5"></td>
    <td class="row_6"></td>
    <td class="row_7"></td>
    <td class="row_8"></td>
    <td class="row_9"></td>
  </tr>
  <tr class="col_1">
    <td class="row_0"></td>
    <td class="row_1"></td>
    <td class="row_2"></td>
    <td class="row_3"></td>
    <td class="row_4"></td>
    <td class="row_5"></td>
    <td class="row_6"></td>
    <td class="row_7"></td>
    <td class="row_8"></td>
    <td class="row_9"></td>
  </tr>
  <tr class="col_2">
    <td class="row_0"></td>
    <td class="row_1"></td>
    <td class="row_2"></td>
    <td class="row_3"></td>
    <td class="row_4"></td>
    <td class="row_5"></td>
    <td class="row_6"></td>
    <td class="row_7"></td>
    <td class="row_8"></td>
    <td class="row_9"></td>
  </tr>
  <tr class="col_3">
    <td class="row_0"></td>
    <td class="row_1"></td>
    <td class="row_2"></td>
    <td class="row_3"></td>
    <td class="row_4"></td>
    <td class="row_5"></td>
    <td class="row_6"></td>
    <td class="row_7"></td>
    <td class="row_8"></td>
    <td class="row_9"></td>
  </tr>
  <tr class="col_4">
    <td class="row_0"></td>
    <td class="row_1"></td>
    <td class="row_2"></td>
    <td class="row_3"></td>
    <td class="row_4"></td>
    <td class="row_5"></td>
    <td class="row_6"></td>
    <td class="row_7"></td>
    <td class="row_8"></td>
    <td class="row_9"></td>
  </tr>
  <tr class="col_5">
    <td class="row_0"></td>
    <td class="row_1"></td>
    <td class="row_2"></td>
    <td class="row_3"></td>
    <td class="row_4"></td>
    <td class="row_5"></td>
    <td class="row_6"></td>
    <td class="row_7"></td>
    <td class="row_8"></td>
    <td class="row_9"></td>
  </tr>
  <tr class="col_6">
    <td class="row_0"></td>
    <td class="row_1"></td>
    <td class="row_2"></td>
    <td class="row_3"></td>
    <td class="row_4"></td>
    <td class="row_5"></td>
    <td class="row_6"></td>
    <td class="row_7"></td>
    <td class="row_8"></td>
    <td class="row_9"></td>
  </tr>
  <tr class="col_7">
   <td class="row_0"></td>
   <td class="row_1"></td>
   <td class="row_2"></td>
   <td class="row_3"></td>
   <td class="row_4"></td>
   <td class="row_5"></td>
   <td class="row_6"></td>
   <td class="row_7"></td>
   <td class="row_8"></td>
   <td class="row_9"></td>
  </tr>
  <tr class="col_8">
    <td class="row_0"></td>
    <td class="row_1"></td>
    <td class="row_2"></td>
    <td class="row_3"></td>
    <td class="row_4"></td>
    <td class="row_5"></td>
    <td class="row_6"></td>
    <td class="row_7"></td>
    <td class="row_8"></td>
    <td class="row_9"></td>
  </tr>
  <tr class="col_9">
    <td class="row_0"></td>
    <td class="row_1"></td>
    <td class="row_2"></td>
    <td class="row_3"></td>
    <td class="row_4"></td>
    <td class="row_5"></td>
    <td class="row_6"></td>
    <td class="row_7"></td>
    <td class="row_8"></td>
    <td class="row_9"></td>
  </tr>
</table>
<button class="fire_missile">Fire Missile!</button>