<table class="game_board">
<% @active_gameboard.each_with_index do |row, index|%>
<tr class="row_<%= index %>">
 <% row.each_with_index do |val, index| %>
 <td class="col_<%= index %>"><%= val %></td>
 <% end %>
</tr>
<% end %>
</table>
<button class="fire_missile">Fire Missile!</button>