<table class="game_board">
<% @battleship_game.each_with_index do |row, rindex|%>
<tr class="row_<%= rindex %>">
 <% row.each_with_index do |val, cindex| %>
 <td class="col_<%= cindex %>"><%= val %></td>
 <% end %>
</tr>
<% end %>
</table>
<button class="fire_missile">Fire Missile!</button>